.ui.pointing.red.basic.label ul{padding-left: 20px!important;margin:0px;}
.ui.menu {margin: 3em 0em;}
.rm-margin {margin: 0px!important;}
.rm-padding {padding: 0px!important;}
.text-md {font-size: 1.5rem;line-height: 1.6;}
.text-sm {font-size: 1.25rem;line-height: 1.3;}
textarea {resize: none;}.comment-thread {padding: 30px 0px;}
.post-segment .items .content {word-wrap: break-word!important;}
.ui.button.toggle.active {background-color: #00b5ad!important;}
.ui.button.toggle.active:hover {background-color: #008c86!important;}
.ui.comments .comment .content .actions button.comment {font-size: .875em;padding: 3px;color: rgba(0,0,0,.4);}
.ui.comments .comment .content .actions button.comment:hover {color: rgba(0,0,0,.8);}
.ui.pagination.menu .item:not(.active) {cursor: pointer;}