<?php

/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @package       app.View.Errors
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */
?>
<div class="ui active page dimmer">
	<div class="content">
		<h2><?php echo $message; ?></h2>
		<p class="error">
			<strong><?php echo __d('cake', 'Error'); ?>: </strong>
			<?php echo __d('cake', 'An Internal Error Has Occurred.'); ?>
		</p>
		<?php echo $this->Html->link('Go back', $this->request->referer(), ['class' => 'ui teal button']); ?>
		<?php
		if (Configure::read('debug') > 0) :
			echo $this->element('exception_stack_trace');
		endif;
		?>
	</div>
</div>